<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular1 practice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-app="todoApp" ng-controller="TodoCtrl">

	<h1>Todo</h1>

	<form name="todoForm">
		<div class="input-group mb-3">
			<input type="text" class="form-control" ng-model="newTodoTitle" placeholder="새로운 TODO를 입력하세요" autofocus>
			<span class="input-group-append">
				<button class="btn btn-success" type="submit" ng-click="add(newTodoTitle)">추가</button>
			</span>
		</div>
	</form>

	<div ng-repeat="todo in todos">
		<date>{{todo.createdAt | date : 'yyyy/MM/dd hh:mm:ss' }}</date>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<input type="checkbox" aria-label="Checkbox for following text input" ng-model="todo.completed">
				</div>
			</div>
			<input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="todo.title">
			<div class="input-group-append">
				<button class="btn btn-danger" type="button" ng-click="remove($index)">삭제</button>
			</div>
		</div>
	</div>
</body>
</html>